@charset "UTF-8";

/* Versão Mobile */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}
body {
    background-color: darkgray;
}
header {
    background-color: darkgray;
}
header > h1 {
    text-align: center;
    padding: 8px;
}
header > menu {
    text-align: center;
}
a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 5px;
    background-color: rgb(66, 65, 65);
    border-top: 2px solid gray;
    border
}
a:hover {
    background-color: darkgrey;
}
main {
    width: 90vw;
    background-color: white;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
section > h1 {
    padding: 5px 0px 20px 5px;
}
section > p {
    text-indent: 1.3em;
    text-align: justify;
}